html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
}

html {
    height: 100%;
    font-size: 100%;
    overflow-y: hidden;
    font-family: 'Cairo',sans-serif !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 99.9% !important;
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
    background-image: url('../Images/1.png');
    background-repeat: repeat;
    overflow: hidden;
}


h1, h2, h3, h4, h5, span {
    cursor: default !important;
}

i {
    cursor: pointer !important;
}

#LoaderAnime {
    background: rgba(0, 0, 0, 0.89);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in;
    z-index: 9999999 !important;
}

    #LoaderAnime > div {
        height: 350px;
        width: 80px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 25px;
        line-height: 12em;
        transform: scale(0.9);
    }

        #LoaderAnime > div > span {
            position: absolute;
            top: 50px;
            width: 190px;
            left: -51px;
        }

.clearFloats {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.zero-margin {
    margin: 0px;
}

label {
    cursor: pointer;
}

#container {
    position: relative;
}

.Sapient-logo {
    color: white;
    cursor: pointer !important;
}

    .Sapient-logo:before {
        content: ' ';
        display: block;
        position: absolute;
        width: 50px;
        height: 49px;
        background-image: url(../Images/sapient.jpg);
        background-size: 100%;
        transition: all 0.3s ease-in-out;
    }

    .Sapient-logo h4 {
        display: inline;
        vertical-align: middle;
        cursor: pointer !important;
        text-shadow: 1px 1px 3px #223e52;
        margin-left: 60px;
        line-height: 1.5em;
    }

    .Sapient-logo:hover:before {
        transform: scale(1.1);
    }

    .Sapient-logo:hover h4 {
        border-bottom: solid 1px #dadada;
    }


.pagewidth {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    position: relative;
}



header {
    position: fixed;
    z-index: 9999;
    background: rgba(239, 73, 35, 0.91);
    width: 450px;
    height: 120%;
    transform: rotate(15deg);
    margin-top: -170px;
    margin-left: -180px;
}

.page-wrap {
    min-height: 99%;
    margin-bottom: -39px;
    overflow: hidden;
}

    .page-wrap:after {
        content: "";
        display: block;
    }

    .site-footer, .page-wrap:after {
        height: 50px;
    }

.site-footer {
    border-top: solid 8px rgba(49, 49, 49, 0);
    background: rgb(0, 0, 0);
    z-index: 999999;
    position: absolute;
    width: 100%;
    box-shadow: 0px 0px 10px #000000;
    color: #a5a5a5;
}

    .site-footer .content {
        text-align: center;
        margin-top: -1px;
    }

    .site-footer .copyright {
        font-size: 22px;
        vertical-align: middle;
    }

    .site-footer span {
        font-size: 12px;
        vertical-align: middle;
    }

    .site-footer:hover .chin2logo {
        transform: scale(1.5) rotate(180deg);
    }


.leftside-nav {
    position: absolute;
    width: 345px;
    z-index: 10000;
    padding: 10px;
    color: rgba(255, 255, 255, 0.76);
}




.nitro-desc {
    font-size: 1.2em;
    margin: 15px 10px;
    word-break: break-word;
    line-height: 1.5em;
    text-shadow: 1px 1px 3px #132e42;
}

::-moz-selection { /* Code for Firefox */
    background: transparent;
}

::selection {
    background: transparent;
}


.Products-container {
    position: absolute;
    padding: 0;
    padding-left: 389px;
    width: 100%;
    height: calc(100% - 38px);
    z-index: 999;
    color: #bdbdbd;
    overflow-x: hidden;
    overflow-y: hidden;
}

    .Products-container form {
        height: 100px;
    }

.pagination {
    padding: 11px 25px;
    height: 50px;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    position: absolute;
    background: #1B1B1B;
    z-index: 999999999;
}

    .pagination:hover {
        height: 150px;
        margin-top: -100px;
    }

    .pagination li.active {
        background-color: #097409 !important;
    }

    .pagination li:hover {
        background-color: #097409 !important;
    }

        .pagination li:hover a {
            color: #fff !important;
        }

    .pagination li a {
        color: #0C770C !important;
    }

    .pagination li.active a {
        color: #fff !important;
    }

#Products-scroll {
    width: 100%;
    height: calc(100% - 115px);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0 9px 28px -14px rgba(0, 0, 0, 0.48);
}

.product-item {
    margin: 20px 0px;
    background: rgba(72, 72, 72, 0.67);
    padding: 15px;
    box-shadow: 2px 2px 5px #000;
    border-radius: 10px;
    float: left;
    transition: all 0.3s ease-in;
    position: relative;
}

    .product-item:hover .product-img {
        transform: scale(1.1);
        -webkit-filter: drop-shadow(5px 5px 5px #000);
        filter: drop-shadow(5px 5px 5px #000);
    }

    .product-item.list {
        width: 100%;
        margin: 15px 0px;
        min-height: 250px;
    }

    .product-item.grid {
        width: 43%;
        margin: 3%;
        min-height: 306px;
    }

        .product-item.grid .product-img {
            transition: all 0.3s ease-in-out;
            width: 100%;
            max-width: 150px;
            max-height: 150px;
            display: block;
            border-radius: 10px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }

    .product-item.list .product-img {
        transition: all 0.3s ease-in-out;
        width: 100%;
        max-width: 150px;
        max-height: 150px;
        display: block;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }


.product-img:hover {
    transform: scale(1.1);
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);
}

.product-item.grid .products-texts {
    float: left;
    padding: 0px 15px;
    width: 100%;
    position: relative;
}

    .product-item.grid .products-texts .img-div {
        width: 35%;
        min-height: 180px;
        position: relative;
        float: left;
    }

    .product-item.grid .products-texts .texts-div {
        width: 65%;
        position: relative;
        float: left;
        padding: 6px 20px;
    }

.product-item.list .products-texts .img-div {
    width: 35%;
    height: 180px;
    position: relative;
    float: left;
}

.product-item.list .products-texts .texts-div {
    width: 65%;
    position: relative;
    float: left;
    padding: 0px 20px;
}

.product-item.grid .products-texts h6 {
    line-height: 0.7em;
}

.product-item.list .products-texts {
    float: left;
    padding: 0px 15px;
    width: 100%;
}


    .product-item.list .products-texts h4 {
        margin: 0;
        display: inline;
        vertical-align: middle;
        font-size: 31px;
        color: #d9421f;
    }



.product-item.grid .products-texts h4 {
    text-align: center;
    display: inline;
    vertical-align: middle;
    font-size: 17px;
    color: #d9421f;
    font-weight: bold;
}

.product-item .products-texts i {
    vertical-align: text-bottom;
}

.product-item .products-texts .long-text {
    word-break: break-all;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item .products-texts .long-text h6 {
    width:250px;
    float:left
}


.layout-btns-grid {
    position: absolute;
    z-index: 999999;
    top: 122px;
    left: 20px;
    color: #b3b3b3;
}

    .layout-btns-grid i {
        padding: 15px;
        font-size: 25px;
        background: rgba(0, 0, 0, 0.1);
        margin: 0px;
        margin-right: -3px;
        color: white;
    }

        .layout-btns-grid i:hover {
            background: rgba(0, 0, 0, 0.34);
        }

        .layout-btns-grid i.active {
            background: rgba(255, 255, 255, 0.6);
            color: rgb(239, 73, 35);
        }

.sort-btns-grid {
    position: absolute;
    z-index: 999999;
    top: 220px;
    left: 20px;
    color: #b3b39f;
    width: 230px;
}

    .sort-btns-grid [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
        color: white;
        margin-right: 12px;
        padding-left: 25px;
    }

    .sort-btns-grid label i {
        color: #e4e4e4;
        vertical-align: sub;
        margin: 0;
        font-size: 20px;
    }

    .sort-btns-grid form p {
        float: left;
    }

.btns-grid {
    width: 107px;
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    z-index: 99;
    margin: auto;
}

    .btns-grid h6 {
        float: left;
        padding: 7px 0px 0px 6px;
        font-size: 19px;
        margin: 0px;
        margin-right: 9px;
        color: white;
    }

    .btns-grid i {
        float: left;
        padding: 3px;
        font-size: 24px;
        margin: 0px;
        margin-right: -3px;
        color: white;
        z-index: 99999;
        transition: all 0.2s ease-in;
    }

        .btns-grid i:hover {
            transform: scale(1.1);
        }

.chin2logo {
    width: 25px;
    height: 25px;
    vertical-align: sub;
    margin: 0px 5px;
    transition: all 0.3s ease-out;
}

    .chin2logo:hover {
        transform: scale(1.5) rotate(360deg) translateY(-5px) !important;
    }

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(239, 73, 35, 0.91);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(239, 73, 35, 0.91);
    }





@media only screen and (max-width: 479px) {
    header {
        width: 120%;
        height: 160px;
        transform: rotate(-5deg);
        margin-top: -20px;
        margin-left: -30px;
    }

    .leftside-nav {
        width: 100%;
    }

    .nitro-desc {
        display: none;
    }

    .Products-container {
        padding-left: 15px;
        padding-top: 76px;
        z-index: 9999;
    }

    #Products-scroll {
    }

    .product-item.grid {
        width: 100%;
        margin: 15px 0px;
    }


    .layout-btns-grid {
        position: absolute;
        z-index: 999999;
        top: 11px;
        right: 30px;
        color: #b3b3b3;
        left: inherit;
    }

    .sort-btns-grid {
        position: absolute;
        z-index: 999999;
        top: 72px;
        left: initial;
        right: -60px;
        color: #b3b39f;
        transform: scale(0.7);
    }
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    header {
        width: 120%;
        height: 200px;
        transform: rotate(-9deg);
        margin-top: -70px;
        margin-left: -50px;
    }

    .leftside-nav {
        width: 100%;
    }

    .nitro-desc {
        display: none;
    }

    .Products-container {
        padding-left: 15px;
        padding-top: 91px;
        z-index: 9999;
    }

    #Products-scroll {
    }

    .layout-btns-grid {
        position: absolute;
        z-index: 999999;
        top: 5px;
        color: #b3b3b3;
        right: 40px !important;
        left: inherit;
    }

    .sort-btns-grid {
        position: absolute;
        z-index: 999999;
        width: 240px;
        left: inherit;
        top: 80px;
        right: 0 !important;
        color: #b3b39f;
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    header {
        width: 450px;
        height: 160%;
        transform: rotate(15deg);
        margin-top: -170px;
        margin-left: -180px;
    }

    .leftside-nav {
        width: 330px;
        height: calc(100% - 50px);
    }

    .layout-btns-grid {
        position: absolute;
        z-index: 999999;
        top: 122px;
        left: 20px;
        color: #b3b3b3;
    }

    .sort-btns-grid {
        position: absolute;
        z-index: 999999;
        top: 220px;
        left: 20px;
        color: #b3b39f;
    }

    .Products-container {
    }

    #Products-scroll {
    }
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    header {
        width: 450px;
        height: 160%;
        transform: rotate(15deg);
        margin-top: -170px;
        margin-left: -180px;
    }

    .leftside-nav {
        width: 335px;
        height: calc(100% - 50px);
    }

    .layout-btns-grid {
        position: absolute;
        z-index: 999999;
        top: 122px;
        left: 20px;
        color: #b3b3b3;
    }

    .sort-btns-grid {
        position: absolute;
        z-index: 999999;
        top: 220px;
        left: 20px;
        color: #b3b39f;
    }

    .Products-container {
    }

    #Products-scroll {
    }
}
