<!DOCTYPE html>
<html ng-app="CodeCafeApp">
<head>
    <title>CodeCafe</title>
    <!--Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta http-equiv='Cache-control' content='no-cache' />
    <meta http-equiv='Expires' content='-1' />
    <meta http-equiv='pragma' content='no-cache' />


    <!--FAVICON-->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!--CSS-->
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/materialize.min.css" rel="stylesheet" />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <div class="page-wrap" ng-controller="SubmissionsController as submissionsVM">

        <header>
            <!--Polygon shaper side nav backbground-->
        </header>

        <!--Navigation and login Sidebar-->
        <div class="leftside-nav">
            <a href="#/" class="CodeCafe-logo"><h4>CodeCafe</h4></a><br />
            <div class="CodeCafe-desc">a simplified code searching experience!</div>


            <div class="layout-btns-grid">
                <h6>Choose a layout</h6>
                <i class="material-icons" ng-class="{'active':submissionsVM.LayoutClass=='grid'}" ng-click="submissionsVM.setLayout('grid')">view_module</i>
                <i class="material-icons" ng-class="{'active':submissionsVM.LayoutClass=='list'}" ng-click="submissionsVM.setLayout('list')">storage</i>
            </div>

            <div class="sort-btns-grid">
                <h6>Filter by status</h6>
                <form action="#">
                    <div ng-repeat="item in submissionsVM.filterByList" ng-click="submissionsVM.filterList()">
                        <input name="group1" type="checkbox" id="{{item.category}}" ng-model="item.selected" ng-value="true" />
                        <label for="{{item.category}}"><i class="material-icons">{{item.icon}}</i> {{item.display}} </label>
                    </div>
                </form>
            </div>

        </div>




        <!--This is where different route's view are displayed-->
        <!--<div ng-view></div>-->
        <div class="Submissions-container">


            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m12 l4">
                        <h4 class="zero-margin">Code Submissions</h4>
                    </div>
                    <div class="input-field col col s12 m12 l8">
                        <i class="material-icons prefix">search</i>
                        <input id="query" type="text" ng-model="submissionsVM.query">
                        <label for="query">Search</label>

                    </div>
                </div>
            </form>

            <div id="Submissions-scroll" ng-cloak>

                <div ng-cloak ng-repeat="submission in submissionsVM.Submissions | filter:submissionsVM.query" ng-if="submission.isAvail">
                    <div class="submissions-item" ng-class="submissionsVM.LayoutClass">
                        <div class="btns-grid">
                            <i class="material-icons go-full tooltipped" ng-click="submissionsVM.goFullScreen($event)" data-position="top" data-tooltip="Go Fullscreen">fullscreen</i>
                        </div>

                        <div class="submission-texts">
                            <img class="submissions-img" src="{{submissionsVM.LanguageImages[submission.language]}}" />
                            <h4>  {{submission.title}}</h4>
                            <div class="pre-container">
                                <pre>
                                     {{submission.source_code}}                                
                                </pre>
                            </div>

                            <div class="long-text">
                                <h6>
                                    <i class="material-icons">bookmark_border</i>
                                    {{submission.language}}
                                </h6>
                                <h6 ng-init="submission.stars={5:[1,2,3,4,5],4:[1,2,3,4],3:[1,2,3],2:[1,2],1:[1],0:[0]}">
                                    <i class="material-icons" ng-repeat="str in submission.stars[submission.metadata.rating]">star</i>
                                    {{submission.metadata.rating}} Stars
                                </h6>
                                <h6>
                                    <i class="material-icons">people</i>
                                    {{submission.metadata.users_attempted}} attempted
                                </h6>
                                <h6>
                                    <i class="material-icons">verified_user</i>
                                    {{submission.metadata.level}} Level
                                </h6>
                                <h6>
                                    <i class="material-icons">play_arrow</i>
                                    {{submission.compiler_status}}
                                </h6>

                            </div>
                        </div>
                        <div class="clearFloats"></div>
                    </div>

                </div>

            </div>

            <ul class="pagination" id="pagination-container">
                <li class="waves-effect" ng-class="{'active':itm.active}" ng-repeat="itm in submissionsVM.pageinationIndexs" ng-click="submissionsVM.goToPage(itm,$event)"><a href="#!">{{itm.index}}</a></li>
            </ul>

        </div>


    </div>

    <footer class="site-footer">
        <div class="content">
            <span class="copyright"> © </span><span>
                2016 <a href="http://www.chin2km.com" target="_blank">
                    <img src="Images/chin2km.png" class="chin2logo" />Chin2km
                </a>
                Media, Inc. All rights unfortunately not reserved.
            </span>
        </div>
    </footer>


    <!--<div ng-show="loaderVisibility" ng-include="'/ng_app/common/Templates/loader.html'"></div>-->
    <div ng-show="loaderVisibility">
        <div id="LoaderAnime">
            <div>
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <span>Just a moment...</span>
            </div>
        </div>
    </div>




    <!--JS-->
    <script src="js_setup/angular.js"></script>
    <script src="js_setup/angular-route.js"></script>
    <script src="js_setup/jquery-2.1.1.min.js"></script>
    <script src="js_setup/materialize.min.js"></script>
    <script src="js_setup/screenfull.js"></script>

    <script src="ng_app/App.js"></script>
    <script src="ng_app/common/AppService.js"></script>
    <script src="ng_app/common/Constants.js"></script>

    <!--Submissions-->
    <script src="ng_app/components/Submissions/Submissions.service.js"></script>
    <script src="ng_app/components/Submissions/Submissions.controller.js"></script>
    <script src="ng_app/components/Submissions/Submissions.module.js"></script>


</body>
</html>
